<%-include ../partials/header.ejs%>
<%-include ../partials/main_nav.ejs%>
  

  
 
   <p>Welcome to <%= title %></p>
<main class="container">
<div class="row">
    <div class="col-md-offset-3 col md-8">
        <h1><%= title %></h1>
        <a href="/businessContact/add" class="btn btn-primary" role="button">
            <i class ="fas fa-plus-circle"></i>Add a Business contact</a>
        <br>
        <table class = "table table-bordered table-striped table-hover">
            <tr>
                <th class="text-content col-2">Name</th>
                <th class="text-content col-2">Number</th>
                <th class="text-content col-2">Email</th>
                <th class="text-content col-4">Description</th>
                <th class="text-content col-1"></th>
                <th class="text-content col-1"></th>
                </tr>
           <% for(let count = 0; count<BusinessContact.length; count++){ %>
            <tr>
                <td class = "text-center col-2"><%=BusinessContact[count].name%></td>
                <td class = "text-center col-2"><%=BusinessContact[count].number%></td>
                <td class = "text-center col-2"><%=BusinessContact[count].email%></td>
                <td class = "text-center col-4"><%=BusinessContact[count].description%></td>
                <td class ="text-center col-1"><a href="/businessContact/update/<%=BusinessContact[count]._id%>" class="btn btn-primary"><i class="fas fa-pencil-alt"></i>Update</a></td>
                <td class ="text-center col-1"><a href="/businessContact/delete/<%=BusinessContact[count]._id%>" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Delete</a></td>    
            </tr>
                <%}%>
            </table>

        </div>
    </div>
    </main>

   <%-include ../partials/bottom_nav.ejs%>
<%-include ../partials/footer.ejs%>   

