<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  

  
  <h1><%= title %></h1>
   <p>Welcome to <%= title %></p>
<p>My projects are:</p>
<ul>
   <li>
      <img src="/Assets/images/photoGallery.PNG" id="gallery"><br>
      Photo gallery: A gallery which automatically switching pictures with jquery done in an assignment.<br>
      I have updated the function of switching pictures on the basis of other structures. This made me familiar with the usage of JQuery.
   </li>
   <li>
      <img src="/Assets/images/bugSmasher.PNG" id="bugGame"><br>
      BugSmasher: A game to smash bugs done in an assignment.<br>
      I built most of the functionality, which taught me how to make web games.
   </li>
   <li>
      <img src="/Assets/images/joinForm.PNG" id="joinForm"><br>
      Join Form: A form to get information in correct format from customer done in an assignment.<br>
      I wrote the whole and learned how to customize the form check content.
   </li>
</ul>

   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

